<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/autocomplete.js" type="text/javascript"></script>
<script src="/controller.js" type="text/javascript"></script>
<link rel="stylesheet" href="/style.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<body>

  <div ng-app="myApp">

    <div ng-controller="myCtrl1" class="container">
      <h1 align="center">AutoComplete using AngularJS</h1>
      <hr />

      <label>Select your car Name</label>
      <input type="text" name="car" id="car" ng-model="car" ng-keyup="total(car)" placeholder="Search your car" class="form-control" />
      <ul class="list-group" ng-hide="hideinfo">
        <li class="list-group-item list-group-item-primary" ng-repeat="carinfo in search_car track by $index" ng-click="choose_textbox(carinfo)">{{carinfo}}</li>
      </ul>
      <br />
      <p>You Selected <b>{{ car }}</b></p>
    </div>


    <div ng-controller="myCtrl">
      enter brand <input type="text" ng-model="brand">
      enter style <input type="text" ng-model="style">
      enter item <input type="text" ng-model="item">
      <button type="button" ng-click="func()">get price</button>
      <table class="table">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Brand</th>
          <th scope="col">Style</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
        </tr>
        <tr ng-repeat="row in rows track by $index">
          <td scope="row">{{$index + 1}}</td>
          <td>{{row.brand}}</td>
          <td>{{row.style}}</td>
          <td>{{row.item}}</td>
          <td>{{row.price}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{total}}</td>
        </tr>

      </table>
      <br>
    </div>
  </div>

</body>

</html>
