<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<link rel="stylesheet" href="/style.css">

<body>
  <div ng-app="myApp" ng-controller="myCtrl">

    enter brand <input type="text" ng-model="brand">
    enter style <input type="text" ng-model="style">
    enter item <input type="text" ng-model="item">
    <button type="button" ng-click="func()">get price</button>

    <table>

      <tr>
        <th>Brand</th>
        <th>Style</th>
        <th>Item</th>
        <th>Price</th>
      </tr>

      <tr ng-repeat="row in rows track by $index">
        <td>{{row.brand}}</td>
        <td>{{row.style}}</td>
        <td>{{row.item}}</td>
        <td>{{row.price}}</td>
      </tr>
    </table>

    <br>
  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
      //    $scope.brand =  ;
      $scope.rows = [];
      //    $scope.item = ;
      $scope.func = function() {
        $http.get("/getPrice" + "/" + $scope.brand + "/" + $scope.style + "/" + $scope.item)
          .then(function mySuccess(response) {
        console.log(response.data);
            $scope.rows.push(
              {
                brand: $scope.brand,
                style: $scope.style,
                item: $scope.item,
                price:response.data.result[0][$scope.style]
              }
            );
            console.log($scope.rows);
            //  $scope.rows.push(response.data);
          }, function myError(response) {});
      }
    });
  </script>

</body>

</html>
