Brand {{inputs.brand}}
Style {{inputs.style}}


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <input type="number" ng-model="inputs.quantity" placeholder="Qty">
  </div>
  <input class="float-right" type="text" ng-model="inputs.item" ng-keyup="autoComplete(inputs.item)" placeholder="Enter Item">
  <ul class="list-group" ng-hide="hideinfo">
    <li class="list-group-item list-group-item-primary" ng-repeat="autoCompleteItem in autoCompleteItems track by $index" ng-click="choose_textbox(autoCompleteItem)">{{autoCompleteItem}}</li>
  </ul>
  <div class="input-group-append">
    <button type="button" class="btn btn-primary float-right" ng-click="myfunc()">get price</button>
  </div>
</div>

<table class="table">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Qty</th>
    <th scope="col">Item</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
  </tr>
  <tr ng-repeat="row in rows track by $index">
    <td scope="row">{{$index + 1}}</td>
    <td>
      <input class="form-control" type="number" data-ng-model="row.quantity" ng-change="updatePrice($index,row.quantity)">
    </td>
    <td>{{row.item}}</td>
    <td>{{row.description}}</td>
    <td>{{row.price}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>{{total}}</td>
  </tr>
</table>
<br>
